.w3-container
    form.w3-container(action='/' method='POST')
        label
            b Título
        input.w3-input.w3-border.w3-light-grey(type='text' name='tit')
        label
            b Provincia 
        input.w3-input.w3-border.w3-light-grey(type='text' name='prov')
        label
            b Local 
        input.w3-input.w3-border.w3-light-grey(type='text' name='local')
        label
            b Musico 
        input.w3-input.w3-border.w3-light-grey(type='text' name='musico')
        input.w3-btn.w3-blue-grey(type='submit' value='Enviar')