extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container
                h1 Arquivo Sonoro de Ernesto Valverde
            .w3-container
                ul.w3-ul
                    li
                        a(class='w3-button' href='/addform') Adicionar uma Música
            .w3-container
                .w3-card-4
                    header.w3-container
                        table.w3-table-all
                            tr  
                                th Id
                                th Título
                            each m in lista
                                tr  
                                    td= m.id
                                    td= m.tit
                                    td
                                        a(class='w3-button' href='/musicaInfo/' + m.id) Info
                                    td
                                        button.w3-button(onclick="apagarMusica('" + m.id +"')") Apagar
                                    td
                                        a(class='w3-button' href='/musicaEdit/' + m.id) Editar
                footer.w3-container.w3-teal
